@page "/GroceryStore"
<h3>GroceryStore (@FoodItem.Count(GroceryIsle => !GroceryIsle.IsDone))</h3>

<input placeholder="Search here" @bind="newGroceryStoreTitle"/>
<button @onclick="AddGroceryStore">Add Items</button>

<ul>
    @foreach (var GroceryIsle in FoodItem)
    {
         @if (!GroceryIsle.IsDone) 
        {
        
        <li>
            <input type="checkbox" @bind="GroceryIsle.IsDone" />
            <input @bind="GroceryIsle.Title" />
            
        </li>
        }
    }
</ul>

@code {
        private List<GroceryIsle> FoodItem = new();
            private string newGroceryStoreTitle;
            private void AddGroceryStore()
    {
        GroceryIsle newItem;
        if (!string.IsNullOrWhiteSpace(newGroceryStoreTitle))
        {
            newItem = new GroceryIsle
            {
                Title = newGroceryStoreTitle
                @* IsDone = true *@
            };
            FoodItem.Add(newItem);
            newGroceryStoreTitle = ""; 
        }
    }
    private bool GroceryStoreIsDone(GroceryIsle GroceryStore)
    {
        return !GroceryStore.IsDone;
    }

}
