@page "/GroceryStore"
<h3>GroceryStore (@GroceryStoreList.Count(GroceryIsle => !GroceryIsle.IsDone))</h3>

<input placeholder="Search here" @bind="newGroceryStoreTitle"/>
<button @onclick="AddGroceryStore">Add Items</button>

<ul>
    @foreach (var GroceryIsle in GroceryStoreList)
    {
         @if (!GroceryIsle.IsDone) 
        {
        
        <li>
            <input type="checkbox" @bind="GroceryIsle.IsDone" />
            <input @bind="GroceryIsle.Title" />
            <div>@GroceryIsle.FoodItem</div>
            
            @quantity
            <button class="btn btn-primary" @onclick="IncrementCount">+</button>
            <button class="btn btn-primary" @onclick="DecrementCount">-</button>
        </li>
        }  
    }
    @foreach (var FoodItem in GroceryIsle)
    {
         @if (!FoodItem.IsDone) 
        {
        
        <li>
            <input type="checkbox" @bind="FoodItem.IsDone" />
            <input @bind="FoodItem.Title" />
            <div>@FoodItem.foodName</div>
            
            @quantity
            <button class="btn btn-primary" @onclick="IncrementCount">+</button>
            <button class="btn btn-primary" @onclick="DecrementCount">-</button>

        </li>
        }
    }
</ul>


@code {
        private List<GroceryIsle> GroceryStoreList = new List<GroceryIsle>{
            new GroceryIsle
        {
         Title = "bakery",
         IsDone = false,
         IsleNumber = 1,
         foodName = "cake, pastry",
         
            
       
        },
            new GroceryIsle
        {
         Title = "fruits",
         IsDone = false,
         IsleNumber = 2,
         foodName = "Apple, Banana",
         
        },
        new GroceryIsle
        {
         Title = "vegetables",
         IsDone = false,
         IsleNumber = 3,
         foodName = "ladyfinger, cabage",  
        },
        new GroceryIsle
        {
         Title = "Frozen Food",
         IsDone = false,
         IsleNumber = 4, 
         foodName = "fries, patty", 
        },
        };
            private int quantity ;

    private void IncrementCount()
    {
        quantity++;
    }
    private void DecrementCount()
    {
        quantity--;
    }
            private string newGroceryStoreTitle = "";
            private List<FoodItem> GroceryIsle = new ();
            private void AddGroceryStore()
        {
        GroceryIsle newItem;
        if (!string.IsNullOrWhiteSpace(newGroceryStoreTitle))
        {
            newItem = new GroceryIsle
            {
                Title = newGroceryStoreTitle,
                IsDone = false,
                foodName = "some default value",
                IsleNumber = 1,
            };
            GroceryStoreList.Add(newItem );
            
            
            newGroceryStoreTitle = ""; 
        }
    }
    
    private bool GroceryStoreIsDone(GroceryIsle GroceryStore)
    {
        return !GroceryStore.IsDone;
    }

}
