@page "/GroceryStore"
<h3>GroceryStore (@GroceryStoreList.Count(GroceryIsle => !GroceryIsle.IsDone))</h3>

<input placeholder="Search here" @bind="newGroceryStoreTitle"/>
<button @onclick="AddGroceryStore">Add Items</button>

<ul>
    @foreach (var GroceryIsle in GroceryStoreList)
    {
         @if (!GroceryIsle.IsDone) 
        {
        
        <li>
            <input type="checkbox" @bind="GroceryIsle.IsDone" />
            <input @bind="GroceryIsle.Title" />
            
        </li>
        }
    }
</ul>
<ul>
    @foreach (var FoodItem in GroceryIsle)
    {
         @if (!FoodItem.IsDone) 
        {
        
        <li>
            <input type="checkbox" @bind="FoodItem.IsDone" />
            <input @bind="FoodItem.Title" />
            <div>@FoodItem.foodName</div>
            
            @quantity
            <button class="btn btn-primary" @onclick="IncrementCount">+</button>
            <button class="btn btn-primary" @onclick="DecrementCount">-</button>

        </li>
        }
    }
</ul>

@code {
        private List<GroceryIsle> GroceryStoreList = new List<GroceryIsle>{
            new GroceryIsle
        {
         Title = "bakery",
         IsDone = false,
         IsleNumber = 1,
       
        },
            new GroceryIsle
        {
         Title = "fruits",
         IsDone = false,
         IsleNumber = 2,
         
        }
        };
            private int quantity ;

    private void IncrementCount()
    {
        quantity++;
    }
    private void DecrementCount()
    {
        quantity--;
    }
            private string newGroceryStoreTitle = "";
            private List<FoodItem> GroceryIsle = new(){
                
                };
            private void AddGroceryStore()
        {
        GroceryIsle newItem;
        if (!string.IsNullOrWhiteSpace(newGroceryStoreTitle))
        {
            newItem = new GroceryIsle
            {
                Title = newGroceryStoreTitle,
                IsDone = false,
                
            };
            GroceryStoreList.Add(newItem);
            
            newGroceryStoreTitle = ""; 
        }
    }
    private bool GroceryStoreIsDone(GroceryIsle GroceryStore)
    {
        return !GroceryStore.IsDone;
    }

}
