@page "/GroceryStore"
<h3>GroceryStore (@GroceryIsle.Count(singleFoodItem => !singleFoodItem.IsDone))</h3>

<input placeholder="Search here" @bind="newGroceryStoreTitle"/>
<button @onclick="AddGroceryStore">Add Items</button>

<ul>
    @foreach (var GroceryStore in GroceryIsle)
    {
         @if (!GroceryStore.IsDone) 
        {
        
        <li>
            <input type="checkbox" @bind="GroceryStore.IsDone" />
            <input @bind="GroceryStore.Title" />
        </li>
        }
    }
</ul>

@code {
        private List<FoodItem> GroceryIsle = new();
            private string newGroceryStoreTitle;
            private void AddGroceryStore()
    {
        FoodItem newItem;
        if (!string.IsNullOrWhiteSpace(newGroceryStoreTitle))
        {
            newItem = new FoodItem
            {
                Title = newGroceryStoreTitle
                @* IsDone = true *@
            };
            GroceryIsle.Add(newItem);
            newGroceryStoreTitle = ""; 
        }
    }
    private bool GroceryStoreIsDone(FoodItem singleFoodItem)
    {
        return !singleFoodItem.IsDone;
    }

}
